<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="APITests">
        <classes>
            <class name="com.Internship_API_Tests.GetRandomCatFact"/>
        </classes>
    </test>

    <test name="UITests">
        <packages>
            <package name="com.Internship_UI_Tests"/>
        </packages>
    </test>
</suite>